/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Asegura que el contenido se posicione correctamente */
}

/* Contenedor del chat */
#chat-container {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Cabecera del chat */
#chat-header {
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Contenedor de los mensajes */
#chat-content {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
}

/* Estilos de los mensajes */
.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.user {
    background-color: #e0e4e6;
    align-self: flex-end;
}

.bot {
    background-color: #f1f1f1;
    align-self: flex-start;
}

/* Pie de página con el input */
#chat-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#inputMessage {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#sendMessage {
    padding: 10px 20px;
    background-color: #555454;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sendMessage:hover {
    background-color: #363636;
}

/* Estilos para el botón de regreso */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.back-button:hover {
    background-color: #363636;
}
